<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="style.css">


    <title> ANMS || Personal Website </title>
</head>

<body>

     <!-- error message -->
     <%- include('./partials/errmsg.ejs') %>
    
    <!-- navbar section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Anms</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#project">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- header secttion -->
    <header class="header" id="home">
        <div class="header-text">
            <div class="text">
                <h5>Hello there </h5>
                <h1>I am Abu Naim Md. Sakib </h1>
                <h1>I am a <span class="typejs"> </span> </h1>
            </div>
            <div class="header-text-btn">
                <button class="btn"><a href="#project" class="btn-link">Latest Projects </a> </button>
                <button class="btn"><a href="#about" class="btn-link">More About Me </a> </button>
            </div>
        </div>
    </header>

    <!-- about section -->
    <section class="about-section" id="about">
        <div class="container py-5">
            <div class="main-about">
                <h5>About </h5>
                <h1>Personal Info</h1>
                <p>Get to know more about me </p>
            </div>
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6 mx-auto main-left">
                    <h6>Hello! </h6>
                    <p class="personal-text">My name is Abu Naim Md. Sakib and I'm a passionate Full Stack Web Developer
                        using web technologies to build amazing products and focusing on solving problems for different
                        person and different industries using the power of technology. </p>
                    <p class="personal-text"> I will love to hear from you. Whether it's a project, job opportunity, or
                        just a chat. Feel free to contact me.</p>
                </div>
                <div class="col-md-12 col-12 col-lg-3 col-xxl-3 mx-auto front-skill">
                    <i class="fas fa-laptop"></i>
                    <h5>Client Side Skill </h5>
                    <ul class="skill-list">
                        <li class="list">HTML5 </li>
                        <li class="list">CSS3 </li>
                        <li class="list">JavaScript </li>
                        <li class="list">Bootstrap </li>
                        <li class="list">jQuery </li>
                    </ul>
                </div>
                <div class="col-md-12 col-12 col-lg-3 col-xxl-3 mx-auto back-skill">
                    <i class="fas fa-server"></i>
                    <h5> Server Side Skill </h5>
                    <ul class="skill-list">
                        <li class="list">Node.js </li>
                        <li class="list">Express </li>
                        <li class="list">MySql </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- porject section -->
    <section class="project-section" id="project">
        <div class="container py-5">
            <div class="main-project">
                <h5>Works </h5>
                <h1>Latest Projects </h1>
                <p> Here you can find some of the porject that i created recently </p>
            </div>
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <a href="https://avocado.abunaim.xyz" target="_sakib"><img src="./img/logo1.png" alt="image is loading"
                            class="img-fluid"> </a>

                </div>
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <h1 class="avocado-heading">Avocado <br> <span>properties ltd. </span> </h1>
                    <p class="project-text">Avocado Properties Ltd. is a <span>Real Estate </span> company where people
                        can check their desire flat to live or property to make their dream house.
                    </p>
                    <p class="project-text">This website made using Html, CSS, Bootstrap, JavaScript, jQuery, Node.js,
                        Express, MySql... </p>
                    <span class="github-link"><a href="https://github.com/01789959113/avocado.io" target="_sakib">Github link
                        </a></span>
                    <span class="site-link"><a href="https://avocado.abunaim.xyz" target="_sakib">Site link </a></span>
                </div>
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6 py-5">
                    <h1 class="potluck-heading">Potluck </h1>
                    <p class="project-text"> I created <span>Potluck </span> website from scratch. Potluck is a
                        <span>Restaurant </span> where you will get delicious food items and can enjoy your
                        valuable time with familly and friends.
                    </p>
                    <p class="project-text">This website build using Html, CSS, Bootstrap, JavaScript, jQuery, Node.js,
                        Express, MySql...</p>
                    <span class="github-link"><a href="https://github.com/01789959113/potluck.io" target="_sakib">Github link
                        </a></span>
                    <span class="site-link"><a href="https://potluck.abunaim.xyz" target="_sakib">Site link </a></span>
                </div>
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6 py-5">
                    <a href="#"> <img src="./img/logo2.png" alt="image is loading" class="img-fluid"> </a>
                </div>
            </div>
        </div>
    </section>

    <!-- contact me section -->
    <section class="contact-section" id="contact">
        <div class="container py-5">
            <div class="main-contact">
                <h5>Contact </h5>
                <h1>Say Hello. </h1>
                <p> Submit the form below so i can get back to you as soon as possible </p>
            </div>
            <dvi class="row gy-3">
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <form class="form" action="/" method="POST">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name </label>
                                <input type="text" class="form-control" id="name" name="name"
                                    value="<%= typeof name !='undefined'? name :'' %>">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email </label>
                                <input type="email" class="form-control" id="email" name="email"
                                    value="<%= typeof email !='undefined'? email :'' %>">
                            </div>
                            <div class="mb-3">
                                <label for="subject" class="form-label">Subject </label>
                                <input type="text" class="form-control" id="subject" name="subject"
                                    value="<%= typeof subject !='undefined'? subject :'' %>">
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message </label>
                                <textarea class="form-control" id="message" name="message" rows="3"
                                    value="<%= typeof message !='undefined'? message :'' %>"></textarea>
                            </div>
                            <button class="message-btn" type="submit">Send Message </button>
                    </form>
                </div>
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <div class="contact-me">
                        <h2>Phone</h2>
                        <p>(+880) 1533727405 </p>
                        <h2>Email</h2>
                        <p>anmsakib999@gmail.com </p>
                        <h2>Address</h2>
                        <p>Chittagong, Bangladesh</p>
                    </div>
                </div>
            </dvi>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-text">
            <p>Created by Abu Naim Md Sakib </p>
            <p>&copy;All rights are reserved 2021. </p>
        </div>
    </footer>










    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->


    <!-- external js link -->
    <script src="index.js"></script>


</body>

</html>